@charset "UTF-8";

@font-face {
  font-family: "mauxbit";
  src:url("fonts/mauxbit.eot");
  src:url("fonts/mauxbit.eot?#iefix") format("embedded-opentype"),
    url("fonts/mauxbit.woff") format("woff"),
    url("fonts/mauxbit.ttf") format("truetype"),
    url("fonts/mauxbit.svg#mauxbit") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "mauxbit" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "mauxbit" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bars:before {
  content: "\61";
}
.icon-codepen:before {
  content: "\62";
}
.icon-map-o:before {
  content: "\63";
}
.icon-connectdevelop:before {
  content: "\64";
}
.icon-times:before {
  content: "\65";
}
